# IDE
.idea/
*.iml

# Gradle
.gradle/
build/
**/build/

# Local config
local.properties

# Kotlin
.kotlin/

# Native
.externalNativeBuild/
.cxx/

# Logs & temp
*.log
*.tmp
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Keystores
*.jks
*.keystore
