# Gradle
.gradle/
build/
**/build/

# Local configuration
local.properties

# IDE
.idea/
*.iml

# Kotlin
.kotlin/

# Native build
.externalNativeBuild/
.cxx/

# Logs & temp
*.log
*.tmp
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Keystores
*.jks
*.keystore
